@import 'tailwindcss';

* {
  font-family: 'Inter', sans-serif;
  letter-spacing: 0%;
  user-select: none;
}

button {
  cursor: pointer;
}

.task {
  --adsgram-task-font-size: 16px;
  --adsgram-task-icon-size: 48px;
  --adsgram-task-icon-title-gap: 8px;
  --adsgram-task-button-width: 60px;
  --adsgram-task-icon-border-radius: 12px;

  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 12px;
  background-color: rgba(179, 223, 220, 0.75);
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: #525252;
}

.task__reward {
  margin: 5px 0 0 0;
  font-size: 14px;
}

.task__button {
  margin-left: 10px;
  background-color: #50a8eb;
  border-radius: 5px;
  padding: 6px 12px;
}

.task__button_claim {
  margin-left: 0;
  background-color: #ee941c;
}

.task__button_done {
  margin-left: 0;
  background-color: #007539;
}
