@import 'tailwindcss';

* {
  font-family: 'Inter', sans-serif;
  letter-spacing: 0%;
  user-select: none;
}

button {
  cursor: pointer;
}

.task {
  --adsgram-task-font-size: 16px;
  --adsgram-task-icon-size: 48px;
  --adsgram-task-icon-title-gap: 8px;
  --adsgram-task-button-width: 60px;
  --adsgram-task-icon-border-radius: 12px;

  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 12px;
  background-color: rgba(179, 223, 220, 0.75);
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: #525252;
}
